<!DOCTYPE html>
<html>
<head>
  <title>Bug Tracking System</title>
  
</head>
<body>

<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Projects', projects_path %></li>
    <li><%= link_to 'Bugs', bugs_path %></li>
    
  </ul>
</nav>

<%= yield %>

</body>
</html>
